################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logs.txt
/TUI/App.config
/TUI/App.config
